<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <icon src="./www.img/icon.png" />
    <name>Rejestracje</name>
    <description>
        Aplikacja służaca do wyszukiwania rejestracji.
    </description>
    <author email="dariuszpaastwa@gmail.com", "kubakalbarczyk112@gmail.com">
        Dariusz Pastwa and Jakub Kalbarczyk
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
</widget>
