<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >
    <name>Rejestracje</name>
    <description>
        Aplikacja służaca do wyszukiwania rejestracji.
    </description>
    <author email="dariuszpaastwa@gmail.com">
        Dariusz Pastwa and Jakub Kalbarczyk
    </author>
    <plugin name="cordova-plugin-camera" spec="~2.4.1" />
</widget>
